.App {
  text-align: center;
}
.img{
  width: 360px;
  height: 340px;
}
a:link,
a:visited {
  background-color: #2aae06;
  color: white;
  padding: 14px 25px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: rgb(200, 175, 9);
}

.votes {
    color: aliceblue;
    will-change: background-color;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #1f2937;
    box-shadow: 0 0 10px #4b5563;
    border-radius: 8px;
  }
  
  .suffix {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: translateX(15px);

   
  }




.App-header {
  
  height: 150px;
  padding: 20px;
  color: white;
  font-family: "Merienda", sans-serif;
  font-size: x-large;
  background-image: linear-gradient(to right, #65a30d , #f59e0b);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
